body{
    background-color: black;
}
li{
    background-color: #222526;
    text-decoration: none;
}
h1{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}
h2{
    color: red;
    text-align: center;
    font-size:xx-large;
}


form {
        width: 400px;
        background-color:#222526;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
            }

label{  
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
        
